.container {
    display: flex;
    align-items: center;
    gap: 50px;

    /* Centralizar o conteúdo */
    justify-content: center;
}

.container div {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid #ccc;
}