.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    grid-template-columns: 200px auto;
}

.grid-container div {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid #ccc;
}