.quadrado{
    background-color: brown;
    color: white;
    font-size: 36px;
    margin: 5px;
    padding: 12px;
    width: 50%;
    text-align: center;
    /* text-transform: uppercase; */
}

.botao{
    margin: 150px;
}

#clicando{
    background-color: cornflowerblue;
    height: 100px;
    width: 120px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
}